# packages/server/serverless.yml
service: expense-tracker-api
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  profile: expense-tracker
  environment:
    MONGO_URI: ${env:MONGO_URI, ''}
    JWT_SECRET: ${env:JWT_SECRET, ''}

  httpApi:
    cors:
      allowedOrigins:
        - "*"
      allowedHeaders:
        - "Content-Type"
        - "Authorization"
      allowedMethods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS

plugins:
  - serverless-esbuild

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    target: node20
    platform: node

functions:
  health:
    handler: src/handlers/health.handler
    events:
      - httpApi:
          path: /api/health
          method: get
  authRegister:
    handler: src/handlers/auth.register
    events:
      - httpApi:
          path: /api/auth/register
          method: post
  login:
    handler: src/handlers/auth.login
    events:
      - httpApi:
          path: /api/auth/login
          method: post
  createExpense:
    handler: src/handlers/expenses/createExpenses.handler
    events:
      - httpApi:
          path: /api/expenses
          method: post
  getAllExpenses:
    handler: src/handlers/expenses/getAllExpenses.handler
    events:
      - httpApi:
          path: /api/expenses
          method: get
  updateExpenses:
    handler: src/handlers/expenses/updateExpenses.handler
    events:
      - httpApi:
          path: /api/expenses/{id}
          method: put

  deleteExpense:
    handler: src/handlers/expenses/deleteExpense.handler
    events:
      - httpApi:
          path: /api/expenses/{id}
          method: delete
  getExpense:
    handler: src/handlers/expenses/getExpense.handler
    events:
      - httpApi:
          path: /api/expenses/{id}
          method: get

  createCategory:
    handler: src/handlers/categories/createCategories.handler
    events:
      - httpApi:
          path: /api/categories
          method: post

  getAllCategories:
    handler: src/handlers/categories/getAllCategories.handler
    events:
      - httpApi:
          path: /api/categories
          method: get
  getCategory:
    handler: src/handlers/categories/getCategory.handler
    events:
      - httpApi:
          path: /api/categories/{id}
          method: get

  updateCategory:
    handler: src/handlers/categories/updateCategories.handler
    events:
      - httpApi:
          path: /api/categories/{id}
          method: put

  deleteCategory:
    handler: src/handlers/categories/deleteCategory.handler
    events:
      - httpApi:
          path: /api/categories/{id}
          method: delete
  createBudget:
    handler: src/handlers/budgets/createBudget.handler
    events:
      - httpApi:
          path: /api/budgets
          method: post
  getAllBudgets:
    handler: src/handlers/budgets/getAllBudgets.handler
    events:
      - httpApi:
          path: /api/budgets
          method: get
  getBudget:
    handler: src/handlers/budgets/getBudget.handler
    events:
      - httpApi:
          path: /api/budgets/{id}
          method: get
  updateBudget:
    handler: src/handlers/budgets/updateBudget.handler
    events:
      - httpApi:
          path: /api/budgets/{id}
          method: put
  deleteBudget:
    handler: src/handlers/budgets/deleteBudget.handler
    events:
      - httpApi:
          path: /api/budgets/{id}
          method: delete
  reportsMonthly:
    handler: src/handlers/reports/monthlyReports.handler
    events:
      - httpApi:
          path: /api/reports/monthly
          method: get
  reportsByCategory:
    handler: src/handlers/reports/categoryReports.handler
    events:
      - httpApi:
          path: /api/reports/by-category
          method: get
  reportsTrends:
    handler: src/handlers/reports/trendReports.handler
    events:
      - httpApi:
          path: /api/reports/trends
          method: get
  expensesExport:
    handler: src/handlers/reports/expensesReport.handler
    events:
      - httpApi:
          path: /api/export/expenses
          method: get
